<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.0" targetFramework="net40" />
  <package id="AspNet.ScriptManager.jQuery" version="1.8.2" targetFramework="net40" requireReinstallation="true" />
  <package id="AspNet.ScriptManager.jQuery.UI.Combined" version="1.8.24" targetFramework="net40" requireReinstallation="true" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.1.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.0" targetFramework="net48" />
  <package id="DotNetOpenAuth.AspNet" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetOpenAuth.Core" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.4.12333" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="EPPlus" version="7.1.2" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net40" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="1.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net40" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net46" requireReinstallation="true" />
</packages>