<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

	  


	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=ENOSIS-LT1; Initial Catalog=ENOSISLEARNING; Integrated Security=True" providerName="System.Data.SqlClient" />-->

	  <add name="CONN_ENOSISLEARNING" connectionString="Data Source=zwin02.securehostdns.com,1234;Initial Catalog=ENOSISLEARNING;User Id=enosis;Password=jitu@123!;Connection Timeout=0" providerName="System.Data.SqlClient" />
	  
	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=sharedmssql9.securehostdns.com,1234;Initial Catalog=ENOSISLEARNING;User Id=enosis;Password=jitu@123!;Connection Timeout=0" providerName="System.Data.SqlClient" />-->
	  
	  
	    <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=sharedmssql9.securehostdns.com,1234;Initial Catalog=ENOSISLEARNING;User Id=enosis;Password=jitu@123!;Connection Timeout=0" providerName="System.Data.SqlClient" />-->


	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=ENOSIS-LT1\SQLEXPRESS;Initial Catalog=ENOSISLEARNING; Integrated Security=True" providerName="System.Data.SqlClient" />-->


	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=ENOSIS1;Initial Catalog=ENOSISLEARNING;Integrated Security=True;Connection Timeout=0" providerName="System.Data.SqlClient" />-->

	  
	  	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=ENOSIS-LT1\SQLEXPRESS;Initial Catalog=ENOSISLEARNING; Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  

	  
	  <!--<add name="CONN_ENOSISLEARNING" connectionString="Data Source=sharedmssql9.znetindia.net,1234;Initial Catalog=ENOSISLEARNING_DEV;User Id=enosisdev;Password=enosis@123!;Connection Timeout=0" providerName="System.Data.SqlClient" />-->






	  <add name="CONN_EMS" connectionString="Data Source=209.59.146.88;Initial Catalog =EMS;User Id=enosisems;Password=ems@123" />
    <add name="email_id" connectionString="enosisdemo@gmail.com" />
    <add name="email_password" connectionString="enosis123" />
    <add name="ENOSISLEARNINGConnectionString" connectionString="Data Source=sharedmssql9.znetindia.net,1234;Initial Catalog=ENOSISLEARNING;User ID=enosis;Password=Gb@sb2609" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <!--<add key="NETSMTP" value="smtp.gmail.com"/>
    <add key="NETUSERNAME" value="enosislearning@gmail.com"/>
    <add key="NETPASSWORD" value="dill@123"/>
   
     <add key="NETUSERNAME1" value="enosislearning@gmail.com"/>
    <add key="NETPASSWORD1" value="dill@123"/>
    <add key="NETUSERNAME" value="dillipparhi@gmail.com"/>
    <add key="NETPASSWORD" value="jitu@123"/>
    <add key="Port" value="587"/>-->
    <add key="NETSMTP" value="mail.enosislearning.com" />
    <add key="NETUSERNAME" value="courses@enosislearning.com" />
    <add key="NETPASSWORD" value="Np1u2z#2RZudhuak" />
    <!--<add key="Port" value="110"/>-->
    <add key="Port" value="25" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="dillipparhi@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="dillipparhi@gmail.com" password="" enableSsl="true" />
      </smtp>
      <!--<smtp from="courses@enosislearning.com">
        <network host="mail.enosislearning.com"
                 port="110"
                 userName="courses@enosislearning.com"
                 password="jitu@123!"
                 enableSsl="true"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  
	<sessionState mode="InProc" timeout="1200" />  

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>