<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<meta name="format-detection" content="telephone=no" />
    
</head>
<body>
<table style="position:relative;width:750px;height:500px;background-color: #006495;">
<tr>
<td >
<b style="font-size:38px;position:relative;left:15px;color:white;top:50px;font-family:'Adobe Arabic'">Welcome to <br />Enosis <b style="color:#F39224">Learning</b></b><p> <h3 style="color:white;font-size:30px;top:90px;font-family:'Adobe Caslon Pro'">Dear <b style="color:#F39224">{FirstName}</b></h3>

</td>
<td>
                  
<div style="position:relative;width:400px;height:380px;background-color:white;margin-left:50px;margin-bottom:60px;filter:drop-shadow(0 0 30px #e1e1d0);">
<center><b><h1 style="color:black;position:relative;top:10px;font-family:'Adobe Arabic'">Welcome {FirstName}!</h1> </b></center>
<br />
<h4 style="color:black;font-family:'Adobe Caslon Pro';padding-left:5px;"> Thanks for doing Registration at Enosis Learning. Your Registration is confirmed.</h4>
<div style="font-size:14px;color:black;font-family:'Adobe Caslon Pro';padding-left:5px;"> Your Registration Id is {RegNo} Which you can use for further communication if any.
<br /><br /><br /><a href="Candidate_Login.aspx"> If you want to change any information, you can click here</a>
<br />
<br />
                       
Thanks<br />
Enosis Learning Team
<br />                   
</div>
<div style="background-color:white;position:relative;width:400px;height:90px;top:50px;">
<img src="http://enosislearning.com/Images/signature.jpg" alt="signature" style="width:375px;padding-top:15px;padding-left:12px;" />
</div>       
</div>
</td>          
</tr>
</table>   
</body>
</html>
