<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
    <table align="center">
        <tr>
            <td align="center">
                <img src="https://www.enosislearning.com/Images/enosislogo.png" height="80" width="250" />
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <div class="main-logo"> 
                    <img src="https://thumbs.dreamstime.com/t/welcome-banner-shiny-colorful-confetti-vector-paper-illustration-welcome-banner-colorful-confetti-100006906.jpg" height="100" width="400" />
                </div>
            </td>
        </tr>
        <tr align="center">
            <td>

                <!--<h2>Welcome!</h2>-->
                <h2 style="color:#F39224">Dear {FirstName}!</h2>
                <h3>
                    Warm welcome to the enosis family.<br />
                    As per your interview and further discussion with you,we are sending you the offer letter with all the details.<br />
                    Attached is the Offer Letter in the mail.<br />

                    Please find the Login credentials below in the email.<br />

                    We are looking forward to working with you to make the organization better.

                    You can reach me anytime for queries / questions if any.
                     <br />




                </h3>
                <hr/>
               
                <div class="container">

                    <table cellpadding='5' cellspacing='0' style='border: 1px solid #ccc;font-size: 10pt;font-family:Arial'>

                        <tr style="height:40px">
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:320px' colspan="3"> EMAIL LOGIN CREDENTIALS</th>
                        </tr>
                        <tr style="height:40px">
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:160px'>URL</th>
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:80px'>EMAILID</th>
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:80px'>EMAILPASSWORD</th>


                        </tr>
                        <tr style="height:40px;font-size: 9pt;">
                            <th style='border: 1px solid #ccc;width:160px'>  https://webmail.enosislearning.com/Mondo/lang/sys/login.aspx</th>
                            <th style='border: 1px solid #ccc;width:80px'>{EMAIL_ID}</th>
                            <th style='border: 1px solid #ccc;width:80px'>{EMAIL_PASSWORD}</th>


                        </tr>
                    </table>
                </div>
                <br/>
                <hr/>
                <div class="container">

                    <table cellpadding='5' cellspacing='0' style='border: 1px solid #ccc;font-size: 10pt;font-family:Arial'>

                        <tr style="height:40px">
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:320px' colspan="3"> WEBSITE LOGIN CREDENTIALS</th>
                        </tr>
                        <tr style="height:40px">
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:160px'>URL</th>
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:80px'>USERNAME</th>
                            <th style='background-color: #B8DBFD;border: 1px solid #ccc;width:80px'>PASSWORD</th>


                        </tr>
                        <tr style="height:40px;font-size: 9pt;">
                            <th style='border: 1px solid #ccc;width:80px'>
                                https://www.enosislearning.com/login.aspx
                            </th>
                            <th style='border: 1px solid #ccc;width:80px'>{USER_NAME}</th>
                            <th style='border: 1px solid #ccc;width:80px'>{PASS_WORD}</th>


                        </tr>
                    </table>
                </div>

                <h4>
                    Regards,
                    <br />Enosis Team
                </h4>
            </td>
        </tr>
        

        <tr align="center">
            <td>
                <div class="main-logo">
                    <a href="https://api.whatsapp.com/send?phone=+917757012052&text=Hello">
                        <img src="https://i0.wp.com/www.smartparent.in/wp-content/uploads/2018/06/Whatsapp-Icon.png" height="50" width="50" />
                    </a>
                    <a href="https://www.instagram.com/enosislearning/">
                        <img src="https://www.enosislearning.com/img/Instagram_icon.png" height="50" width="50" />
                    </a>
                    <a href="https://www.twitter.com/Enosislearning">
                        <img src="https://imagepng.org/wp-content/uploads/2018/08/twitter-icone.png" height="45" width="50" />
                    </a>
                    <!--<a href="https://www.google.com/#">
                        <img src="https://maxcdn.icons8.com/Share/icon/color/Logos/google_plus1600.png" height="50" width="50" />
                    </a>-->

                    <a href="http://www.linkedin.com/company/2762062?trk=tyah">
                        <img src="https://th.bing.com/th/id/Rc3fcc390427d68b89647e834adf7fc87?rik=1DsHadbNB1JOtQ&riu=http%3a%2f%2fpngimg.com%2fuploads%2flinkedIn%2flinkedIn_PNG27.png&ehk=ApJ%2fweXG28ukIgc0cm1ymZWvYcRJosABXALGrqXztRQ%3d&risl=&pid=ImgRaw" height="50" width="50" />
                    </a>
                </div>
            </td>
        </tr>
        <!--<tr align="center">
            <td>
                <div class="main-logo">
                    <img src="https://th.bing.com/th/id/OIP.BVHwKtw0eHcsaSCIc9vqwgFoCt?w=305&h=168&c=7&o=5&dpr=1.25&pid=1.7" height="100" width="500" alt="">
                </div>
            </td>
        </tr>-->
        <tr align="center">
            <td>
                <div>
                    <img src="http://enosislearning.com/Images/signature.jpg" alt="signature" style="width:500px;padding-top:15px;padding-left:12px;" />
                </div>
               
            </td>
        </tr>
    </table>
</body>
</html>